
body{
background-color: rgb(179, 177, 177);
}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.Box1{
    width: 100%;
    margin: auto;
    border: 2px double rgb(41, 41, 41);
    padding: 2px;
    margin-bottom: 10px;
}
.Box1_1{
    width: 45%;
    margin: auto;
}
.Box1_1 img{
    width: 100%;
}
.Box2{
    width: 100%;
    margin: auto;
    }
.Box2_1{
    width: 30%;
    margin: auto;
    border: 2px double rgb(41, 41, 41);
    }